In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn import svm, datasets
from sklearn.model_selection import cross_val_score, RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [44]:

batters=pd.read_csv('../data/batterdat1.csv')
strikeouts=pd.read_csv('../data/Strikeouts.csv')
batters['Name']=batters['player_name']
full=strikeouts.merge(batters,on='Name',how='outer')
full=full.dropna()
joiner=pd.DataFrame()
joiner['batter']=full['player_id']
joiner['Name']=full['Name']

In [47]:
dataFrame.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,SL,9/29/2019,83.8,-0.9456,6.2833,Jake Faria,602074,607188,single,hit_into_play_no_out,...,3,3,3,3,3,3,3,3,Standard,Standard
1,FC,9/29/2019,94.6,-2.5397,6.1040,Bryan Shaw,621438,543766,field_out,hit_into_play,...,3,3,3,3,3,3,3,3,Standard,Standard
2,FC,9/29/2019,92.9,-2.7475,6.0623,Bryan Shaw,592325,543766,field_out,hit_into_play,...,3,3,3,3,3,3,3,3,Standard,Standard
3,SI,9/29/2019,93.8,-1.4514,6.3377,Jimmy Nelson,641658,519076,field_out,hit_into_play,...,3,3,3,3,3,3,3,3,Standard,Standard
4,FF,9/29/2019,94.0,-1.2104,6.3349,Jimmy Nelson,460077,519076,field_out,hit_into_play,...,3,3,3,3,3,3,3,3,Standard,Standard

In [48]:
batters['Name']=batters['player_name']
strikeouts['Name']=strikeouts['Name']

990

,player_id,player_name,ba,babip,woba,xwoba,abs,launch_speed,launch_angle,Name
0,656555,Rhys Hoskins,0.226,0.267,0.351,0.342,570,85.8,24.3,Rhys Hoskins
1,660670,Ronald Acuna Jr.,0.280,0.337,0.373,0.387,626,83.9,16.8,Ronald Acuna Jr.
2,543760,Marcus Semien,0.285,0.294,0.377,0.362,657,84.6,18.3,Marcus Semien
3,608324,Alex Bregman,0.296,0.281,0.423,0.378,554,85.1,21.1,Alex Bregman
4,605141,Mookie Betts,0.295,0.309,0.384,0.408,597,86.6,21.9,Mookie Betts

In [49]:
strikeouts['Name']=strikeouts['Name']
print(len(strikeouts))

1410

           Name       Team  SO  playerid
0    Will Smith     Giants   0      8048
1  Oliver Drake       Rays   0      8823
2  Ruben Alaniz      - - -   0     10819
3     Seth Lugo       Mets   0     12447
4  John Brebbia  Cardinals   0     12777

In [50]:
full=strikeouts.merge(batters,on='Name',how='outer')
full=full.dropna()
joiner=pd.DataFrame()
joiner['batter']=full['player_id']
joiner['Name']=full['Name']

In [6]:
# Single, Double, Triple, HomeRun, (field_out, force_out, fielders_choice) = out, 
# grounded_into_double_play, sac_fly, sac_bunt,

#Transform values into binary classification
d = {
    'single': 1, 
    'double': 1, 
    'triple': 1, 
    'home_run': 1, 
    'field_out': 0,
    'force_out': 0,
    'fielders_choice': 1,
    'grounded_into_double_play': 0,
    'sac_fly': 0,
    'sac_bunt': 0,
    'double_play': 0,
    'fielders_choice_out': 0,
    'catcher_interf': 1,
    'triple_play': 0,
    'field_error': 1,
    'sac_fly_double_play': 0,
    'sac_bunt_double_play': 0
}

dataFrame = dataFrame.replace(d)
#dataFrame=dataFrame.sample(frac=1).reset_index(drop=True)